In [1]:
import os
import pandas as pd
import numpy as np
import time
from sklearn.model_selection import train_test_split

In [2]:
# 현재경로 확인
os.getcwd()

'C:\\Users\\Hongjin\\Desktop\\김다윗\\개인\\01. 공부\\Git\\ML_code\\03_앙상블기법'

### Data Loading

In [4]:
data = pd.read_csv('../00_Data/otto_train.csv')
data.head()

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
0,1,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Class_1
1,2,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
2,3,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
3,4,1,0,0,1,6,1,5,0,0,...,0,1,2,0,0,0,0,0,0,Class_1
4,5,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,Class_1

In [5]:
'''
id: 고유 아이디
feat_1 ~ feat_93: 설명변수
target: 타겟변수 (1~9)
'''

'\nid: 고유 아이디\nfeat_1 ~ feat_93: 설명변수\ntarget: 타겟변수 (1~9)\n'

In [6]:
nCar = data.shape[0] # 데이터 개수
nVar = data.shape[1] # 변수 개수
print('nCar: %d' % nCar, 'nVar: %d' % nVar )

nCar: 61878 nVar: 95

### 의미없는 변수 제거

In [7]:
data = data.drop(['id'], axis=1)

### 타겟변수 카테고리화

In [8]:
mapping_dict = {'Class_1':1,
                'Class_2':2,
                'Class_3':3,
                'Class_4':4,
                'Class_5':5,
                'Class_6':6,
                'Class_7':7,
                'Class_8':8,
                'Class_9':9,}

after_mapping_target = data['target'].apply(lambda x:mapping_dict[x])

In [9]:
after_mapping_target[:5]

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

### 학습 및 평가 데이터

In [10]:
feature_columns = list(data.columns.difference(['target']))
X = data[feature_columns]
y = after_mapping_target
train_x, test_x, train_y, test_y = train_test_split(X, y, test_size = 0.2, random_state = 42) # 학습데이터와 평가데이터의 비율을 8:2 로 분할| 
print(train_x.shape, test_x.shape, train_y.shape, test_y.shape) # 데이터 개수 확인

(49502, 93) (12376, 93) (49502,) (12376,)

## 랜덤포레스트

In [12]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

random_forest_model1 = RandomForestClassifier(n_estimators=20, # 20번 추정
                                              max_depth=5, # 트리 최대 깊이 5
                                              random_state=42) # 시드값 고정

model1 = random_forest_model1.fit(train_x, train_y)
predict1 = model1.predict(test_x)
print("Accuracy: %.2f" % (accuracy_score(test_y, predict1) * 100), "%") # 정확도 % 계산

Accuracy: 60.16 %

### 트리를 늘려볼까?

In [15]:
random_forest_model2 = RandomForestClassifier(n_estimators=300, # 300번 추정
                                              max_depth=5, # 트리 최대 깊이 5
                                              random_state=42) # 시드값 고정

model2 = random_forest_model2.fit(train_x, train_y)
predict2 = model2.predict(test_x)
print("Accuracy: %.2f" % (accuracy_score(test_y, predict2) * 100), "%") # 정확도 % 계산

Accuracy: 61.73 %

### 깊이를 늘려볼까?

In [16]:
random_forest_model3 = RandomForestClassifier(n_estimators=5, # 300번 추정
                                              max_depth=20, # 트리 최대 깊이 5
                                              random_state=42) # 시드값 고정

model3 = random_forest_model3.fit(train_x, train_y)
predict3 = model3.predict(test_x)
print("Accuracy: %.2f" % (accuracy_score(test_y, predict3) * 100), "%") # 정확도 % 계산

Accuracy: 75.28 %

### 트리와 깊이 모두 늘려보자!

In [17]:
%%time
random_forest_model3 = RandomForestClassifier(n_estimators=300, # 300번 추정
                                              max_depth=100, # 트리 최대 깊이 5
                                              random_state=42) # 시드값 고정

model3 = random_forest_model3.fit(train_x, train_y)
predict3 = model3.predict(test_x)
print("Accuracy: %.2f" % (accuracy_score(test_y, predict3) * 100), "%") # 정확도 % 계산

Accuracy: 81.23 %
Wall time: 30 s

### 다른 하이퍼파라미터에 대한 정보

- https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html